<section
  class="lookbook-scroller"
  data-section-id="{{ section.id }}"
  data-section-type="lookbook-scroller">

</section>

{% schema %}
{
  "name": "Lookbook scroller",
  "class": "lookbook-scroller-section",
  "blocks": [
    {
      "type": "image",
      "name": "Lookbook image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Lookbook image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook scroller"
    }
  ]
}
{% endschema %}