<div class="page-width">
  <header class="section-header">
    {%- if section.settings.page_title != blank -%}
      <h1 class="section-header__title">{{ section.settings.page_title }}</h1>
    {%- else -%}
      <h1 class="section-header__title">{{ page.title }}</h1>
    {%- endif -%}
  </header>
</div>

{% schema %}
{
  "name": "t:sections.main-page-full-width.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page title",
      "info": "Overwrite current page title"
    }
  ]
}
{% endschema %}
